@use './variables' as *;


@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

@mixin flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

@mixin button-base($bg-color, $hover-color) {
  background-color: $bg-color;
  color: $dark-color;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }
}
