// Colores

$primary-color: #618c40;
$secondary-color: #cce29b;
$terciary-color: #520c41;
$neutral-color: #f0f6d9;
$dark-color: #1f0318;
$highlight-color: #d56fa9;
$logo-green: #042e40;
$light-grey: rgb(150, 147, 147);

// Tipografías

$font-family-base: "Montserrat", sans-serif;
$font-family-logo: "Quintessential", serif;



