$primary-color: #618c40;
$secondary-color: #cce29b;
$terciary-color: #520c41;
$neutral-color: #f0f6d9;
$dark-color: #1f0318;
$highlight-color: #d56fa9;
$logo-green: #042e40;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  &__container {
    background-color: $secondary-color;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 7rem;
    display: flex;
    margin: 1rem;
  }

  &__title {
    color: $logo-green;
    font-family: "Quintessential", serif;
  }

  &__title {
    color: $logo-green;
    font-family: "Quintessential", serif;
  }

  &__slogan {
    color: $terciary-color;
  }
}

.nav {
  background-color: $terciary-color;
  color: $neutral-color;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;

  &__logo {
    height: 3rem;
    margin-left: 3rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__menu {
    font-weight: bold;
    display: flex;
    list-style: none;
    margin-right: 5rem;
  }

  &__item {
    padding: 1rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: $highlight-color;
    }
  }
}

.wsp {
  &__button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 2.5%;
    z-index: 3;
    cursor: pointer;

    &--img {
      width: 100%;
      height: auto;
    }
  }
}

.article {

  width: 100%;
  background-color: $neutral-color;
  color: $terciary-color;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;

  &__title {
    padding-bottom: 2rem;
    width: 100%;
  }

  &__container {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 1rem;
    }

  }

  &__text {
    margin-bottom: 1rem;
    padding-right: 2rem;
  }

  &__img {

    width: 50%;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.gallery {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 3rem;

  &__title {
    padding-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
    align-items: center;
  }

  &__img {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;

  }

}

.contact {
  background-color: $terciary-color;
  color: $secondary-color;
  padding: 3rem;

  &__title {
    padding-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    &--datos {
      width: 40%;
      display: flex;
      flex-direction: column;
    }

    &--mensaje {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    &--button {
      width: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__button {
    background-color: $secondary-color;
    width: 100%;
    padding: .5rem;
    align-self: center;

    &:hover {
      background-color: $highlight-color;
    }
  }

  @media (max-width: 768px) {
    &__form {
      flex-direction: column;
      width: 100%;
    }

    &__form--datos,
    &__form--mensaje {
      width: 100%;
    }

    &__form--button {
      width: 90%;
    }
  }
}

.form {
  &__label {
    padding-bottom: .5rem;
  }

  &__input {
    width: 90%;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
  }

  &__textarea {
    width: 90%;
    padding-bottom: 8.5rem;
    margin-bottom: 1rem;
  }
}

.footer {
  background-color: $dark-color;
  color: $neutral-color;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;

  &__title {
    padding-bottom: 2rem;
    width: 100%;
  }

  &__data {
    width: 33%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  &__text {
    margin-bottom: 1rem;

  }

  &__logo {
    width: 33%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;

    &__img {
      height: 7rem;
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__social {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__icon {
    height: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__copyright {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    &__data {
      width: 100%;
    }

    &__logo {
      width: 100%;
      margin-bottom: 2rem;
    }

    &--img {
      height: 3rem;
    }

    &__social {
      width: 100%;
      justify-content: center;
    }

    &__icon {
      height: 2rem;

    }
  }
}