
.wsp {
  &__button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5%;
    right: 2.5%;
    z-index: 3;
    cursor: pointer;

    &--img {
      width: 100%;
      height: auto;
    }
  }
}
