
.form {
  &__label {
    padding-bottom: .5rem;
  }

  &__input {
    width: 90%;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
  }

  &__textarea {
    width: 90%;
    padding-bottom: 8.5rem;
    margin-bottom: 1rem;
  }
}
