@use '../abstracts/variables' as *;
@use '../abstracts/mixins';


.footer {
  background-color: $dark-color;
  color: $neutral-color;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;

  &__title {
    padding-bottom: 2rem;
    width: 100%;
  }

  &__data {
    width: 33%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  &__text {
    margin-bottom: 1rem;

  }

  &__logo {
    width: 33%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;

    &__img {
      height: 7rem;
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__social {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__icon {
    height: 3rem;
    margin-left: 1.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__copyright {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    &__data {
      width: 100%;
    }

    &__logo {
      width: 100%;
      margin-bottom: 2rem;
    }

    &--img {
      height: 3rem;
    }

    &__social {
      width: 100%;
      justify-content: center;
    }

    &__icon {
      height: 2rem;

    }
  }
}