@use '../abstracts/variables' as *;
@use '../abstracts/mixins';


.footer {
  height: 100px;
  padding: 20px;
  margin-top: 50px;
  background-color: $dark-color;
  color: $neutral-color;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media (max-width: 768px) {
    height: 7rem;
    
  }

  &__title {
    padding-bottom: 2rem;
    width: 100%;
  }

  &__data {
    width: 33%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

  &__text {
    margin-bottom: 0.5rem;
    font-size: .75rem;

  }

  &__logo {
    width: 33%;
    height: auto;
    object-fit: cover;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      width: 4.3rem;
      height: 4.3rem;
      background-color: $terciary-color;
      border-radius: 50%;
      align-items: center;
      margin: auto;
      position: relative;
      bottom: 8.5rem;    
    }

    &--img {
      height: 3rem;
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.1);
    }




  }




  &__social {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__icon {
    height: 1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__copyright {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 0.75rem;
    position: relative;
    bottom: 20px;

    @media (max-width: 768px) {
      position: relative;
      bottom: 5rem;
      color: $dark-color;
      padding-bottom: 1rem;
      
    }
  }

  @media (max-width: 768px) {
    &__data {
      width: 100%;
    }

    &__logo {

      margin-bottom: 2rem;
    }

    &__social {
      width: 100%;
      justify-content: flex-end;
      position: absolute;
      right: 3%;
      bottom: 15%;
    }

    &__icon {
      height: 2rem;

    }
  }
}