* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background-image: url("../img/Flower-pattern.jpg");
  background-position: top left;
}

a {
  text-decoration: none;
}

.main__container {
  width: 80%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(150, 147, 147);
  padding: 20px;
  background-color: #cce29b;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: #cce29b;
  margin-bottom: 50px;
}
.header__container {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 7rem;
  display: flex;
  margin: 1rem;
}
.header__title {
  color: #042e40;
  font-family: "Quintessential", serif;
}
.header__slogan {
  color: #520c41;
}

.nav {
  background-color: #520c41;
  color: #f0f6d9;
  padding: 0.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}
.nav__logo {
  height: 3rem;
  margin-left: 3rem;
  cursor: pointer;
}
.nav__logo:hover {
  transform: scale(1.1);
}
.nav__menu {
  font-weight: bold;
  display: flex;
  list-style: none;
  margin-right: 5rem;
}
.nav__item {
  padding: 1rem;
  cursor: pointer;
}
.nav__item:hover {
  transform: scale(1.1);
  color: #d56fa9;
}

.article {
  background-color: #f0f6d9;
  color: #520c41;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.article__title {
  padding-bottom: 2rem;
  width: 100%;
}
.article__container {
  width: 50%;
}
@media (max-width: 768px) {
  .article__container {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.article__text {
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.article__img {
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 768px) {
  .article__img {
    width: 100%;
  }
}

.gallery {
  background-color: #618c40;
  color: #cce29b;
  padding: 3rem;
}
.gallery__title {
  padding-bottom: 2rem;
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  align-items: center;
}
@media (max-width: 768px) {
  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
}
.gallery__img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.contact {
  background-color: #520c41;
  color: #cce29b;
  padding: 3rem;
}
.contact__title {
  padding-bottom: 2rem;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
}
.contact__form--datos {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.contact__form--mensaje {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.contact__form--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 10%;
}
.contact__button {
  background-color: #cce29b;
  color: #1f0318;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  align-self: center;
  padding: 0.5rem;
  margin: 1rem;
  border-style: solid;
  border-color: #618c40;
  border-width: 0.2rem;
}
.contact__button:hover {
  background-color: #d56fa9;
}
@media (max-width: 768px) {
  .contact__form {
    flex-direction: column;
    width: 100%;
  }
  .contact__form--datos, .contact__form--mensaje {
    width: 100%;
  }
  .contact__form--button {
    width: 90%;
  }
}

.footer {
  height: 100px;
  padding: 20px;
  margin-top: 50px;
  background-color: #1f0318;
  color: #f0f6d9;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    height: 7rem;
  }
}
.footer__title {
  padding-bottom: 2rem;
  width: 100%;
}
.footer__data {
  width: 33%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__text {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}
.footer__logo {
  width: 33%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer__logo {
    width: 4.3rem;
    height: 4.3rem;
    background-color: #520c41;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 8.5rem;
  }
}
.footer__logo--img {
  height: 3rem;
  cursor: pointer;
}
.footer__logo:hover {
  transform: scale(1.1);
}
.footer__social {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__icon {
  height: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.footer__icon:hover {
  transform: scale(1.1);
}
.footer__copyright {
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 0.75rem;
  position: relative;
  bottom: 20px;
}
@media (max-width: 768px) {
  .footer__copyright {
    position: relative;
    bottom: 5rem;
    color: #1f0318;
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .footer__data {
    width: 100%;
  }
  .footer__logo {
    margin-bottom: 2rem;
  }
  .footer__social {
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 3%;
    bottom: 15%;
  }
  .footer__icon {
    height: 2rem;
  }
}

.wsp__button {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 1%;
  right: 2.5%;
  z-index: 3;
  cursor: pointer;
}
.wsp__button--img {
  width: 100%;
  height: auto;
}

.form__label {
  padding-bottom: 0.5rem;
}
.form__input {
  width: 90%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.form__textarea {
  width: 90%;
  padding-bottom: 8.5rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
