* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header__container {
  background-color: #cce29b;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 7rem;
  display: flex;
  margin: 1rem;
}
.header__title {
  color: #042e40;
  font-family: "Quintessential", serif;
}
.header__title {
  color: #042e40;
  font-family: "Quintessential", serif;
}
.header__slogan {
  color: #520c41;
}

.nav {
  background-color: #520c41;
  color: #f0f6d9;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}
.nav__logo {
  height: 3rem;
  margin-left: 3rem;
  cursor: pointer;
}
.nav__logo:hover {
  transform: scale(1.1);
}
.nav__menu {
  font-weight: bold;
  display: flex;
  list-style: none;
  margin-right: 5rem;
}
.nav__item {
  padding: 1rem;
  cursor: pointer;
}
.nav__item:hover {
  transform: scale(1.1);
  color: #d56fa9;
}

.wsp__button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 5%;
  right: 2.5%;
  z-index: 3;
  cursor: pointer;
}
.wsp__button--img {
  width: 100%;
  height: auto;
}

.article {
  width: 100%;
  background-color: #f0f6d9;
  color: #520c41;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.article__title {
  padding-bottom: 2rem;
  width: 100%;
}
.article__container {
  width: 50%;
}
@media (max-width: 768px) {
  .article__container {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.article__text {
  margin-bottom: 1rem;
  padding-right: 2rem;
}
.article__img {
  width: 50%;
  height: auto;
  display: block;
  object-fit: cover;
  overflow: hidden;
}
@media (max-width: 768px) {
  .article__img {
    width: 100%;
  }
}

.gallery {
  background-color: #618c40;
  color: #cce29b;
  padding: 3rem;
}
.gallery__title {
  padding-bottom: 2rem;
}
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  align-items: center;
}
.gallery__img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.contact {
  background-color: #520c41;
  color: #cce29b;
  padding: 3rem;
}
.contact__title {
  padding-bottom: 2rem;
}
.contact__form {
  display: flex;
  flex-wrap: wrap;
}
.contact__form--datos {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.contact__form--mensaje {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact__form--button {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__button {
  background-color: #cce29b;
  width: 100%;
  padding: 0.5rem;
  align-self: center;
}
.contact__button:hover {
  background-color: #d56fa9;
}
@media (max-width: 768px) {
  .contact__form {
    flex-direction: column;
    width: 100%;
  }
  .contact__form--datos, .contact__form--mensaje {
    width: 100%;
  }
  .contact__form--button {
    width: 90%;
  }
}

.form__label {
  padding-bottom: 0.5rem;
}
.form__input {
  width: 90%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
.form__textarea {
  width: 90%;
  padding-bottom: 8.5rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: #1f0318;
  color: #f0f6d9;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.footer__title {
  padding-bottom: 2rem;
  width: 100%;
}
.footer__data {
  width: 33%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__text {
  margin-bottom: 1rem;
}
.footer__logo {
  width: 33%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.footer__logo__img {
  height: 7rem;
  cursor: pointer;
}
.footer__logo:hover {
  transform: scale(1.1);
}
.footer__social {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__icon {
  height: 3rem;
  margin-left: 1.5rem;
  cursor: pointer;
}
.footer__icon:hover {
  transform: scale(1.1);
}
.footer__copyright {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__data {
    width: 100%;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer--img {
    height: 3rem;
  }
  .footer__social {
    width: 100%;
    justify-content: center;
  }
  .footer__icon {
    height: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
